# secure directory by disabling script execution
AddHandler cgi-script .pl .py .jsp .asp .htm .shtml .sh .cgi .html .exe .bat .pif
Options -ExecCGI
Options -Indexes

<files .htaccess>
Order allow,deny
Deny from all
</files>

